<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <connectionStrings>
    <add name="ATEDB_T1" connectionString="Data Source=SHIWPD-ATESQLR;Initial Catalog=ate_db;Persist Security Info=True;User ID=ate_oper;Password=ate.oper" providerName="System.Data.SqlClient" />
    <add name="ATEDB_T2" connectionString="Data Source=JHOWPD-ATESQLR;Initial Catalog=ate_db;Persist Security Info=True;User ID=ate_oper;Password=ate.oper" providerName="System.Data.SqlClient" />
    <add name="ATEDB_T3" connectionString="Data Source=LINWPD-ATESQLR;Initial Catalog=ate_db;Persist Security Info=True;User ID=ate_oper;Password=ate.oper" providerName="System.Data.SqlClient" />
    <add name="ATEDB_T5" connectionString="Data Source=XINWPD-ATESQLR;Initial Catalog=ate_db;Persist Security Info=True;User ID=ate_oper;Password=ate.oper" providerName="System.Data.SqlClient" />
    <add name="PTEWEBDB" connectionString="Data Source=T1-PE-SUPPORT\PESUPPORT;Initial Catalog=PTEDB;Persist Security Info=True;User ID=PIENG;Password=Q2iT5cwHJW3FH" providerName="System.Data.SqlClient" />
    <add name="PTEDBEntities" connectionString="metadata=res://*/Models.DailyModel.csdl|res://*/Models.DailyModel.ssdl|res://*/Models.DailyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=T1-PE-SUPPORT\PESUPPORT;initial catalog=PTEDB;persist security info=True;user id=PIENG;password=Q2iT5cwHJW3FH;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ItemNameEntities" connectionString="metadata=res://*/Models.ItemNameModel.csdl|res://*/Models.ItemNameModel.ssdl|res://*/Models.ItemNameModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LINWPD-ATESQLR;initial catalog=ate_result;user id=ate_oper;password=ate.oper;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>