<!-- 日期選擇物件 Start-->
<div class="row">
    <div class="white-box">
        <div class="col-md-12">
            <form method="post" name="DateRangeForm" action="@ViewContext.RouteData.Values["action"]">
                <div class="input-group">
                    <imput placeholder="@TempData["Org"]" name="org" typeof="text">
                        <b style="font-size:30px;padding-right:30px"><span style="color:black">  From </span></b>
                        <input class=flatpickr style="width:200px;font-size:30px;padding-right:30px" type="text" placeholder=@TempData["StartDate"] name="startdate" data-id="rangePlugin">
                        <b style="padding-right:30px;padding-left:30px;font-size:30px"><span style="color:black">  to   </span></b>
                        <input type="text" align="middle" style="padding-right:30px;width:200px;font-size:30px" placeholder=@TempData["EndDate"] id="secondRangeInput" name="enddate">
                        <input type='submit' class="btn waves-effect waves-light btn-primary" style="font-size:30px;margin-top:-20px;margin-left:15px;text-align:center;" value='Go' />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 日期選擇物件 End-->