pte_web/obj/
pte_web/archives/
.vs/PTE_Web/
pte_web/logs/
pte_web/bin/
.vs/config/
PTEWebDailyJob/.vs/
PTEWebDailyJob/PTEWebDailyJob/obj/
pte_web/Views/AnalyzeTool/CorrelationWindow.cshtml~RF14cedfb.TMP
Issue_Job/.vs/Issue_Job/v16/Server/sqlite3/db.lock
Issue_Job/.vs/Issue_Job/v16/.suo
Issue_Job/.vs

# Python Compiler
.pytest_cache/
__pycache__/
*.py[cod]

*$py.class
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
Issue_Job/Issue_Job/bin
Issue_Job/Issue_Job/obj
