<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ATEDB_T1" connectionString="Data Source=SHIWPD-ATESQLR;Initial Catalog=ate_db;Persist Security Info=True;User ID=ate_oper;Password=ate.oper" providerName="System.Data.SqlClient" />
    <add name="ATEDB_T2" connectionString="Data Source=JHOWPD-ATESQLR;Initial Catalog=ate_db;Persist Security Info=True;User ID=ate_oper;Password=ate.oper" providerName="System.Data.SqlClient" />
    <add name="ATEDB_T3" connectionString="Data Source=LINWPD-ATESQLR;Initial Catalog=ate_db;Persist Security Info=True;User ID=ate_oper;Password=ate.oper" providerName="System.Data.SqlClient" />
    <add name="ATEDB_T5" connectionString="Data Source=XINWPD-ATESQLR;Initial Catalog=ate_db;Persist Security Info=True;User ID=ate_oper;Password=ate.oper" providerName="System.Data.SqlClient" />
    <add name="PTEWEBDB" connectionString="Data Source=T1-PE-SUPPORT\PESUPPORT;Initial Catalog=PTEDB;Persist Security Info=True;User ID=engine;Password=engine" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>