
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h3>Data Browser</h3>
            <div class="table-responsive" style="min-width:640px;height:675px">
                <table id="example" class="display table" style="font-size:20px;">
                    <thead>
                        <tr style="text-align: right;">
                            <th><input type="checkbox" id="selectAll"></th>
                            @foreach(var item in ViewBag.TableColumns)
                            {
                                <th>@item</th>
                            }
                        </tr>
                    </thead>
                    <tbody id="tbody1">
                        @for (int i = 0; i <= (ViewBag.TableValues.Count / ViewBag.TableColumns.Count) - 1; i++)
                        {
                            <tr>
                                <td><input type="checkbox" class="selectSingle" value=""></td>
                                @for (int j = 0; j < ViewBag.TableColumns.Count; j++)
                                {
                                    <td>@ViewBag.TableValues[(i * ViewBag.TableColumns.Count) + j]</td>

                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <script data-config>
                    var id = function (id) {
                        return document.getElementById(id);
                    };
                    var table = id('example');
                    var totRowIndex = table.getElementsByTagName('tr').length;
                    var tfConfig = {
                        // instruct TableFilter location to import ressources from
                        base_path: '~/Content/TableFilter/',
                        paging: {
                            results_per_page: ['Records: ', [10, 25, 50, 100]]
                        },
                        col_0: 'select',
                        alternate_rows: true,
                        rows_counter: true,
                        btn_reset: true,
                        loader: true,
                        status_bar: true,
                        //sort: true,
                        //sort_config: {
                        //    sort_types: ['String', 'US', 'US', 'US', 'US']
                        //},
                        mark_active_columns: true,
                        highlight_keywords: true,
                        //no_results_message: true,
                        //extensions: [{ name: 'sort' }]

                    };

                    var tf = new TableFilter('example', tfConfig);

                    tf.init();
                </script>
                 @*<table id="example" class="display table" style="font-size:20px;">
                    <thead>
                        <tr style="text-align: right;">
                            @foreach(var item in ViewBag.TableColumns)
                            {
                                <th>@item</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for(int i =0;i<=(ViewBag.TableValues.Count/ViewBag.TableColumns.Count)-1;i++)
                        {
                            <tr>
                                @for(int j =0;j<ViewBag.TableColumns.Count;j++)
                                {
                                    <td>@ViewBag.TableValues[(i*ViewBag.TableColumns.Count)+j]</td>
                                    
                                }
                            </tr>
                        }
                    </tbody>
                </table>*@
            </div>            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h3>Data Chart Ouptut</h3>
        </div>
    </div>
</div>

